<%= link_to 'Add Account', new_admin_account_path, class: "btn" %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td>
        <%= link_to 'Edit', edit_admin_account_path(account) %>
        <%= link_to 'Delete', admin_account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
